.parent {
  position: relative;
}
.child {
  position: absolute;
  margin-top: 21vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .child {
    position: absolute;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
  }
}
