<div *ngIf="result" [@fadeInOut] class="alert alert-warning" role="alert">
  <strong>Minutos:</strong> {{calculatedResinMinutes}} <br />
  <strong>Horas:</strong> {{calculatedResinHours}} <br />
  <strong>Data:</strong> {{calculatedResinData}} <br />
</div>

<div
  [@fadeInOut]
  class="text-success-form alert alert-success"
  *ngIf="result == false && currentLocalData != undefined"
>
  <strong>Último resultado</strong>

  <hr />
  <strong>Minutos:</strong> {{currentLocalMinutes}} <br />
  <strong>Horas:</strong> {{currentLocalHours}} <br />
  <strong>Data:</strong> {{currentLocalData}} <br />
  <hr />

  <div *ngIf="hasValidCalculatedValues">
    <strong>Resina Atual: {{calculatedValues}} </strong><br />
  </div>
</div>

<form [formGroup]="form" novalidade>
  <div class="form-group">
    <label for="currentResin">{{currentResinText}}</label>

    <input
      digitOnly
      type="text"
      placeholder="0"
      class="form-control"
      inputmode="numeric"
      pattern="[0-9]*"
      autocomplete="off"
      formControlName="currentResin"
      [min]="0"
      [max]="160"
      maxlength="3"
    />
  </div>

  <div class="form-group mt-2">
    <label for="expectedResin">{{expectedResinText}}</label>

    <input
      digitOnly
      type="text"
      placeholder="160"
      class="form-control"
      inputmode="numeric"
      pattern="[0-9]*"
      autocomplete="off"
      formControlName="expectedResin"
      [min]="0"
      [max]="160"
      maxlength="3"
    />
  </div>

  <button
    (click)="handleCheckValues()"
    [disabled]="hasValidForm"
    class="mt-3 w-100"
    [class]="hasValidForm ? 'btn btn-secondary btn-lg btn-block' : 'btn btn-primary btn-lg btn-block'"
  >
    <b>{{btnText}}</b>
  </button>
</form>
